header{
    position:absolute;
    width:100%;
    top:0;
    z-index:5;
    @include media('>=desktop'){
        position: static;
    }
}
.container-header {
        display: flex;
        width:100%;
        justify-content: space-between;
    .logo {

        a {
            display: block;
            background: $primary;
            padding: 1.1rem .8rem;

            svg {
                display: block;
            }
        }

    }

    .main-menu{

        @include media('>=desktop'){

        display:flex;
        width:100%;
        justify-content: space-between;
        }
    .menu{
        display:none;
        @include media('>=desktop'){
            display:flex;
            align-items: center;
            width:100%;
            margin-right:2.3rem;

            nav{
                width:100%;
            }
        }
        ul{
            margin:0;
            padding:0;
            width:100%;
            display:flex;
            justify-content: flex-end;
            li{
                list-style: none;
                a{
                    color:inherit;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-weight:600;
                    color:$primary;
                }
                &:not(:first-child){
                    margin-left:2rem;
                }
            }

        }
    }

    .menu-icon {
        height:100%;
        a {
            display: block;
            height:100%;
            background: $primary;
            padding: 1.1rem 1.2rem;
            @include media('>=desktop'){
                padding:1.3rem 1.24rem;
            }
            #middle,#start,#end{
                transition:.3s ease-in-out;
            }
            &:hover #start{
                transform:translateX(20%);
            }
            &:hover #middle{
                transform:translateX(-20%);
            }
            &:hover #end{
                    transform:translateX(20%);
            }

            svg {
                display: block;
            }
        }

    }

}

}