.hero {
    // padding-bottom: 50%;
    .hero-container {
        height:100vh;
        @extend %container-width;
        margin: 0 auto;
        @include media('>=desktop'){
            height:auto;
        }
    }

    @include media('>=desktop'){

        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:3rem;
        align-items: center;
        padding-left:5%;
    }

    h6 {
        padding-top: 8.6rem;
        margin-top:0;
        margin-bottom: 2rem;
        @extend %line-text;

        @include media('>=desktop'){

            padding-top:9.6rem;
        }
    }

    h1 {
        margin-top: 3.6rem;
        @extend %heading-1;
        @include media('>=desktop'){
            margin-bottom:.6rem;
        }
    }

    .hero-container p {
        @extend %text-1;
        @include media('>=desktop'){
            margin-top:0rem;
        }
    }

    .more {
        background: $primary;
        position: absolute;
        transform: rotate(90deg);
        right: -2.9rem;
        bottom: 10%;
        padding: 0rem 1.6rem;
        @include media('>=desktop'){
            left:-2.9rem;
            right:auto;
            bottom:0;
        }
        p {
            color: #FFF;
            display: flex;
            align-items: center;

            &:after {
                content: '';
                height: 2px;
                width: 2rem;
                margin-left: 1rem;
                background: #FFF;
                display: block;
            }
        }
    }
    .second-container{
        @extend %container-width;
        margin:0 auto;
        @include media('>=desktop'){
            margin:0;
            max-width:100%;
        }
        .hero-img {
            .mob-work {
                display: grid;
                grid-template-columns: .7fr .4fr;
                @include media('>=desktop'){
                    display:none;
                }
                p {
                    font-weight: 400;
                    font-size: .85rem;
                }

                b {
                    @extend %line-text;
                }
            }


        }

        
        .img-container {
            // max-width: 94%;
            // margin-left: calc(-50vw + 50%);
            margin-right: calc(-50vw + 50%);
            @include media('>=desktop'){
                margin-right:0;
            }
            img {
                width:100%;
                margin-top: 1rem;
                padding-right:4rem;
            }
    
        }

     

    }


  
}

.our-works {
    @include media(">=desktop"){
        padding-top:5%;
    }
    &-container {
        @extend %container-width;
        margin: 0 auto;

        h6 {
            @extend %line-text;
        }

        h1 {
            @extend %heading-1;
        }

        &__text {
            @extend %text-1;
        }
    }
}

.our-services{
    margin-top:4rem;
    margin-bottom:4rem;
    .our-services-container{
        max-width: 94%;
        margin-right: auto;
        background:$light;

        padding-top:4rem;
        padding-bottom:3rem;
        padding-left:1.2rem;
        padding-right:1.2rem;
        @include media('>=desktop'){
            padding-left:5%;
        }
        h6{
            @extend %line-text;
            
            @include media('>=desktop'){
                margin-top:0;
            }
        }
        h1{
            @extend %heading-1;
        }
        &__text{
            @extend %text-1;
        }
        @include media('>=desktop'){
            .services-main-container{
                display:grid;
                grid-template-columns: 1fr 1fr;
                grid-gap:2rem;
            }
        }
        #discover{
            display:inline-block;
            margin-top:1rem;
            color:black;
            font-weight:400;
            text-transform: uppercase;
            text-align:center;
            text-decoration: none;
            position:relative;
            padding:.85rem 1.8rem;
            overflow: hidden;
            &:after{
                content:'';
                bottom:0;
                height:2px;
                width:100%;
                left:0;
                right:0;
                background:#000;
                position:absolute;
            }
            &:before{
                transition:.6s cubic-bezier(1, 0, 0, 1);
                clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
                background:#000;
                content:'Discover More';
                position:Absolute;
                width:100%;
                height:100%;
                left:0;
                right:0;
                bottom:0;
                top:0;
                padding:.85rem 0;
                color:#FFF;

            }

        }
        
        #discover:hover:before,#discover:hover{
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        }

        .services-list{
            margin-top:5rem;
            @include media('>=desktop'){
                margin-top:0;
            }
            .services-list__item{
                &-heading{
                    h3{
                        @extend %heading-2;
                        margin-top:.6rem;
                    }
                }

                &:not(:first-child){
                    margin-top:3rem;
                    
                }
            }
        }
    }

}

.contact{
    .contact-container{
        @extend %container-width;
        margin:0 auto;
        margin-top:6.4rem;
        h6{
            @extend %line-text;
        }
        h1{
            @extend %heading-1;
        }
        &__text{
            @extend %text-1;
        }
        @include media('>=desktop'){
            &__text{
                max-width:40%;
            }
        }

        form{
            margin-top:3.8rem;
            @include media('>=desktop'){
                max-width:60%;
                margin:0 auto;
            }
            .form-group{
                .input{
                    @extend %input-1;
                }
                &:not(:first-child){
                    margin-top:1.3rem;
                }

                label{
                    @extend %text-2;
                }
                select{
                    @extend %select-1;
                    margin-top:.5rem;
                }
                textarea{
                    @extend %input-1;
                }
           
            }

            .checkbox-group{
                margin-top:2.5rem;
                margin-bottom:2.8rem;
                p{
                    @extend %text-2;
                    margin-bottom:1.8rem;
                }
                .checkbox{
                    @extend %text-2;
                    display:flex;
                    align-items: center;
                    margin-top:1.1rem;
                    .input-checkbox{
                        padding:.5rem;
                        height:16px;
                        width:16px;
                        margin-right:1rem;
                    }
                }
            }
            .submit-btn-container{
                text-align: center;
                .submit-btn{
                    @extend %button-1;
                    margin-top:4rem;

                    @include media(">=desktop"){
                        margin-top:2rem;
                    }
                }
            }
            
        }
    }
}